// Change earned badge styling
.check-display.status-checked {
  background-color: #ccc;
}
.check-display {
  border-radius: 0.15rem;
}
.groups-boxes .group-box .group-membership .is-group-owner,
.groups-boxes .group-box .group-membership .is-group-member {
  color: unset;
}
.is-group-member .svg-icon {
  vertical-align: -0.2em;
}
