@use "lib/viewport";

/* @include viewport.until(sm) {
  .category-list.with-topics {
    margin-inline: 1rem;

    .num.posts,
    .category-topics-count,
    .category-logo {
      display: none;
    }

    .category-list {
      &-item {
        padding-top: 0;
        padding-bottom: 0;
        border-top: 0 !important;
        border-bottom: 0 !important;
      }
    }

    tbody {
      display: flex;
      flex-direction: column;

      tr:first-of-type {
        order: -2;
      }

      tr.subcategories-list {
        order: -1;
      }

      tr:nth-last-of-type(2) {
        border-bottom: 0;
      }
    }

    th.main-link {
      padding-top: 0;
    }
  }
} */