/* .topic-statuses {
  display: none;
}

.welcome-banner__wrap .btn.search-icon,
.welcome-banner__wrap
  .d-modal.json-schema-editor-modal
  .je-ready
  button.search-icon,
.d-modal.json-schema-editor-modal
  .je-ready
  .welcome-banner__wrap
  button.search-icon,
.welcome-banner__wrap
  .d-modal.json-schema-editor-modal
  .je-ready
  .search-icon.json-editor-btn-add,
.d-modal.json-schema-editor-modal
  .je-ready
  .welcome-banner__wrap
  .search-icon.json-editor-btn-add {
  z-index: 1;
}

.sidebar-section-link-wrapper
  .sidebar-section-link
  .sidebar-section-link-content-text {
  font-size: inherit;
}
 */

.post-stream .contents {
  font-size: inherit !important;
  line-height: 1.25;
}
